@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" asp-action="Expenses">Overview</a>
    <a class="btn btn-secondary" asp-action="CreateEditExpense">Create New</a>
</div>

<div id="userModal" class="modal fade" data-url='@Url.Action("ShowModal")'>
    <div id="userContainer"></div>
</div>