@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <p class="modal-text text-center">Welcome to this MVC site I made! Feel free to browse!</p>
        </div>
        <div class="align-self-center">
            <button class="btn btn-primary mb-3" id="closeModal" type="button" data-dismiss="modal" onclick="closeModal()">Close</button>
        </div>
    </div>
</div>